body{
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4F4F4F;
}

section{
    height: 100vh;
    scroll-snap-align: start;
    border-bottom: 0.07vw solid #4F4F4F;
}

a{
    text-decoration: none;
    color: #4F4F4F;
}

li{
    list-style: none;
}

/* mouse pointer */
/* ---------------------- */
#circle {
    width: 0.8vw; 
    height: 0.8vw;
    border-radius: 50%; 
    background-color: black;
    position: absolute;
    pointer-events: none;
    transition: all 0.1s ease;
    z-index: 999;
}

/* header */
/* -------------------- */
header{
    width: 100%;
    height: 6.25vw;
    box-shadow: 0px 0.208vw 0.208vw rgba(0, 0, 0, 0.05);
    display: flex;
    position: fixed;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    top: 0;
    background-color: #fff;
}

.headercon{
    width: 85.417vw;
    height: 2.813vw;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo img{
    width: 2.448vw;
}

.navbar{
    display: flex;
    font-size: 1.25vw;
    font-weight: 300;
    margin-left: auto;
}

ul{
    overflow: hidden;
}

.dropdown_list{
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #fff;
    width: 10.573vw;
    height: 15vw;
    box-shadow: 0px 0.2vw 0.8vw rgba(0, 0, 0, 0.05);
    z-index: 1;
    right: 4.5vw;
    padding-top: 4vw;
    top: 3.906vw;
    transition: visibility 0s, opacity 0.3s ease;
}

li a, .dropbtn{
    display: inline-block;
    text-align: center;
}

li.dropbtn{
    display: inline-block;
}

.dropdown_list a{
    display: block;
    margin-bottom: 2.292vw;
}

.dropdown:hover .dropdown_list, .dropdown_list:hover {
    display: flex;
    visibility: visible; 
    opacity: 1; 
    transition-delay: 0s; 
}

.dropbtn{
    margin-left: 3.906vw;
}

.nav_link:hover {
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar a:hover {
    font-weight: 500;
    transition: all 0.3s ease;
}

/* project navbar */
/* ---------------------- */
.PJnav{
    display: flex;
    justify-content: center;
}

.PJnav_link{
    color: #C6C6C6;
    font-size: 2.083vw;
    font-weight: 200;
    padding-top: 12.5vw;
    margin-right: 2.708vw;
}

.PJnav_link:nth-child(4){
    margin-right: 0;
}

.PJnav_link.active{
    color: #4F4F4F;
}

.PJnav_link:hover {
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.container{
    width: 85.417vw;
    height: 278.490vw;
    margin: auto;
    margin-top: 3.125vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 7.292vw;
}

/* box */
/* ------------------ */
.box{
    width: 41.9vw;
    height: 27.240vw;
    border: 0.09vw solid #4F4F4F;
    margin-right: 1.25vw;
    margin-bottom: 4.167vw;
}

.box:nth-child(2n){
    margin-right: 0;
}

.previewIMGcon{
    width: 41.9vw;
    height: 20.5vw;
    overflow: hidden;
    display: inline-block;
    border-bottom: 0.09vw solid #4F4F4F;
}

.previewIMGcon img{
    width: 100%;
    transition: transform 0.4s ease-in;
}

.previewIMGcon img:hover{
    transform: scale(1.04);
}

.box_bottom{
    display: flex;
    width: 41.9vw;
    height: 6.563vw;
}

.box_title{
    margin: 1.1vw 0 0.417vw 1.458vw;
    font-size: 1.458vw;
    font-weight: 200;
}

.box_date{
    font-size: 1.042vw;
    font-weight: 200;
    margin: 0;
    margin-left: 1.458vw;
}

.link_img img{
    width: 2.083vw;
    height: 2.083vw;
    margin-left: 1.25vw;
}

.box_link{
    margin: 1.1vw 1.458vw 0 auto;
    
}

/* footer */
/* --------------- */
footer{
    width: 100%;
    height: 5.208vw;
    display: flex;
    justify-content: center;
    border-top: 0.09vw solid #4F4F4F
}

.footertext{
    font-size: 0.8vw;
    font-weight: 500;
    padding-top: 2.6vw;
}